body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Nunito', sans-serif;
}

.text-center {
  text-align: center;
}

.img-center {
  display: block;
  margin: auto;
}

.title {
  padding: 2em 1em 1em 1em;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
